@use "admin" with (
	$scheme-name: "vineyard",
	$base-color: #432531,
	$highlight-color: #934f69,
	$notification-color: #ab7844,
	$link: #7d2f4f,
	$link-focus: #ab7844,
	$menu-submenu-focus-text: #ffe9c6
);
@use "../custom-props" with (
	$scheme-name: "vinyard",
	$color-primary: #934f69,
);