html { background: #eeeeee; }

/* Links */
a { color: #0074a2; }
a:hover, a:active, a:focus { color: #0099d5; }

#rightnow a:hover, #media-upload a.del-link:hover, div.dashboard-widget-submit input:hover, .subsubsub a:hover, .subsubsub a.current:hover, .ui-tabs-nav a:hover { color: #0099d5; }

/* Forms */
input[type=checkbox]:checked:before { color: #eabe3f; }

input[type=radio]:checked:before { background: #eabe3f; }

.wp-core-ui input[type="reset"]:hover, .wp-core-ui input[type="reset"]:active { color: #0099d5; }

/* Buttons */
.wp-core-ui .button-primary { background: #eabe3f; border-color: #deab18; color: white; -webkit-box-shadow: inset 0 1px 0 #f2d584, 0 1px 0 rgba(0, 0, 0, 0.15); box-shadow: inset 0 1px 0 #f2d584, 0 1px 0 rgba(0, 0, 0, 0.15); }
.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus { background: #e6b21a; border-color: #c79916; -webkit-box-shadow: inset 0 1px 0 #efce6d, 0 1px 0 rgba(0, 0, 0, 0.15); box-shadow: inset 0 1px 0 #efce6d, 0 1px 0 rgba(0, 0, 0, 0.15); }
.wp-core-ui .button-primary:active { background: #e6b21a; border-color: #c79916; -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5); box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5); }
.wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary.button-primary-disabled { color: #d1cec7 !important; background: #e6b21a !important; border-color: #c79916 !important; text-shadow: none !important; }

/* List tables */
.wrap .add-new-h2:hover, #add-new-comment a:hover, .tablenav .tablenav-pages a:hover, .tablenav .tablenav-pages a:focus { color: white; background-color: #462b36; }

.view-switch a.current:before { color: #462b36; }

.view-switch a:hover:before { color: #d99f5f; }

.post-com-count:hover:after { border-top-color: #462b36; }

.post-com-count:hover span { color: white; background-color: #462b36; }

strong .post-com-count:after { border-top-color: #d99f5f; }

strong .post-com-count span { background-color: #d99f5f; }

/* Admin Menu */
#adminmenuback, #adminmenuwrap { background: #462b36; }

#adminmenu a { color: white; }

#adminmenu div.wp-menu-image:before { color: #f3f1f2; }

#adminmenu a:hover, #adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus { color: white; background-color: #eabe3f; }

#adminmenu li.menu-top:hover div.wp-menu-image:before, #adminmenu li.opensub > a.menu-top div.wp-menu-image:before { color: white; }

/* Admin Menu: submenu */
#adminmenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu { background: #301d25; }

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after { border-right-color: #301d25; }

#adminmenu .wp-submenu .wp-submenu-head { color: #c7bfc2; }

#adminmenu .wp-submenu a, #adminmenu .wp-has-current-submenu .wp-submenu a, .folded #adminmenu .wp-has-current-submenu .wp-submenu a { color: #c7bfc2; }

#adminmenu .wp-submenu a:hover, #adminmenu .wp-has-current-submenu .wp-submenu a:hover, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover { color: #eabe3f; }

/* Admin Menu: current */
#adminmenu .wp-submenu li.current a, #adminmenu .wp-submenu li.current a:hover { color: white; }

ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu > li.current > a.current:after { border-right-color: #eeeeee; }

#adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head, .folded #adminmenu li.current.menu-top { color: white; background: #eabe3f; }

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before { color: white; }

/* Admin Menu: bubble */
#adminmenu .awaiting-mod, #adminmenu .update-plugins { color: white; background: #d99f5f; }

#adminmenu li.current a .awaiting-mod, #adminmenu li a.wp-has-current-submenu .update-plugins, #adminmenu li:hover a .awaiting-mod, #adminmenu li.menu-top:hover > a .update-plugins { color: white; background: #301d25; }

/* Admin Menu: collapse button */
#collapse-menu { color: #f3f1f2; }

#collapse-menu:hover { color: white; }

#collapse-button div:after { color: #f3f1f2; }

#collapse-menu:hover #collapse-button div:after { color: white; }

/* Admin Bar */
#wpadminbar { color: white; background: #462b36; }

#wpadminbar .ab-item, #wpadminbar a.ab-item, #wpadminbar > #wp-toolbar > #wp-admin-bar-root-default span.ab-label, #wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary span.ab-label, #wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary span.noticon { color: white; }

#wpadminbar .ab-icon, #wpadminbar .ab-item:before { color: #f3f1f2; }

#wpadminbar .ab-top-menu > li:hover > .ab-item, #wpadminbar .ab-top-menu > li.hover > .ab-item, #wpadminbar > #wp-toolbar > #wp-admin-bar-root-default li:hover span.ab-label, #wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary li.hover span.ab-label, #wpadminbar .ab-top-menu > li > .ab-item:focus, #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus, #wpadminbar-nojs .ab-top-menu > li.menupop:hover > .ab-item, #wpadminbar .ab-top-menu > li.menupop.hover > .ab-item { color: white; background: #301d25; }

#wpadminbar li:hover .ab-icon, #wpadminbar li:hover > .ab-item:before { color: white; }

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper { background: #301d25; }

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary { background: #573e48; }

#wpadminbar .ab-submenu .ab-item, #wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop.hover ul li a, #wpadminbar-nojs .quicklinks .menupop:hover ul li a { color: #c7bfc2; }

#wpadminbar .quicklinks li .blavatar, #wpadminbar .menupop .menupop > .ab-item:before { color: #f3f1f2; }

#wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar .quicklinks .menupop .ab-sub-secondary > li:hover > a, #wpadminbar .quicklinks .menupop .ab-sub-secondary > li.hover > a, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover { color: #eabe3f; }

#wpadminbar .quicklinks li a:hover .blavatar, #wpadminbar .menupop .menupop > .ab-item:hover:before { color: #eabe3f; }

/* Admin Bar: search */
#wpadminbar #adminbarsearch:before { color: #f3f1f2; }

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus { color: white; background: #5c3947; }

#wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder { color: white; opacity: .7; }

#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder { color: white; opacity: .7; }

#wpadminbar #adminbarsearch .adminbar-input::-moz-placeholder { color: white; opacity: .7; }

#wpadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder { color: white; opacity: .7; }

/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img { border-color: #5c3947; background-color: #5c3947; }

#wpadminbar #wp-admin-bar-user-info .display-name { color: white; }

/* Responsive Component */
div#moby6-toggle a:before { color: #f3f1f2; }

.moby6-open div#moby6-toggle a { border-color: transparent; background: #eabe3f; }
