@use "admin" with (
	$scheme-name: "aubergine",
	$base-color: #5c5b73,
	$highlight-color: #c99416,
	$notification-color: #ba5b32,
	$link: #353354,
	$link-focus: #ba5b32,
	$low-contrast-theme: "true"
);
@use "../custom-props" with (
	$scheme-name: "aubergine",
	$color-primary: #534e80,
);