@use "admin" with (
	$scheme-name: "aubergine",
	$base-color: #463c7e,
	$highlight-color: #c5900d,
	$notification-color: #ba5b32,
	$link: #574d97,
	$link-focus: #ba5b32,
	$low-contrast-theme: "true",
	$menu-submenu-focus-text: #eab444,
);
@use "../custom-props" with (
	$scheme-name: "aubergine",
	$color-primary: #ba5b32,
);