@use "sass:color";

/*
 * Button mixin- creates a button effect with correct
 * highlights/shadows, based on a base color.
 */
@mixin button( $button-color, $button-text-color: #fff ) {
	background: $button-color;
	border-color: $button-color;
	color: $button-text-color;

	&:hover,
	&:focus {
		background: color.adjust( $button-color, $lightness: 3% );
		border-color: color.adjust( $button-color, $lightness: -3% );
		color: $button-text-color;
	}

	&:focus {
		box-shadow:
			0 0 0 1px #fff,
			0 0 0 3px $button-color;
	}

	&:active {
		background: color.adjust( $button-color, $lightness: -5% );
		border-color: color.adjust( $button-color, $lightness: -5% );
		color: $button-text-color;
	}

	&.active,
	&.active:focus,
	&.active:hover {
		background: $button-color;
		color: $button-text-color;
		border-color: color.adjust( $button-color, $lightness: -15% );
		box-shadow: inset 0 2px 5px -3px color.adjust( $button-color, $lightness: -50% );
	}
}

@function hex-to-rgb($hex) {
	@return color.channel($hex, "red"), color.channel($hex, "green"), color.channel($hex, "blue");
}

@mixin generate-custom-properties( $color-primary ) {

	// Define RGB equivalents for use in rgba function.
	// Hexadecimal css vars do not work in the rgba function.
	--wp-admin-theme-color: #{$color-primary};
	--wp-admin-theme-color--rgb: #{hex-to-rgb($color-primary)};
	// Darker shades.
	--wp-admin-theme-color-darker-10: #{color.adjust($color-primary, $lightness: -5%)};
	--wp-admin-theme-color-darker-10--rgb: #{hex-to-rgb(color.adjust($color-primary, $lightness: -5%))};
	--wp-admin-theme-color-darker-20: #{color.adjust($color-primary, $lightness: -10%)};
	--wp-admin-theme-color-darker-20--rgb: #{hex-to-rgb(color.adjust($color-primary, $lightness: -10%))};
}
