@use "admin" with (
	$scheme-name: "cruise",
	$base-color: #303262,
	$highlight-color: #348259,
	$notification-color: #cda200,
	$link: #494d88,
	$link-focus: #2b7a52,
	$low-contrast-theme: "true",
	$menu-submenu-focus-text: #7bc89b,
);
@use "../custom-props" with (
	$scheme-name: "cruise",
	$color-primary: #348259,
);
