@use "admin" with (
	$scheme-name: "primary",
	$base-color: #2f3261,
	$highlight-color: #d4980d,
	$notification-color: #bf4500,
	$link: #3c4065,
	$link-focus: #bf4500,
	$low-contrast-theme: "true",
	$menu-submenu-focus-text: #e4b903
);
@use "../custom-props" with (
	$scheme-name: "primary",
	$color-primary: #bf4500,
);