@use "sass:color";
@use "admin" with (
	$scheme-name: "seashore",
	$base-color: #eee5d6,
	$text-color: #4c4841,
	$icon-color: #4c4841,
	$highlight-color: #d9c8aa,
	$notification-color: #2a4f63,
	$body-background: #f9f7f0,
	$menu-bubble-text: #ece1ce,
	$menu-collapse-focus-icon: #456a7f,
	$link: #456a7f,
	$link-focus: #696764,
	$menu-submenu-text: #4c4841,
	$menu-submenu-focus-text: #506a84
);
@use "../custom-props" with (
	$scheme-name: "seashore",
	$color-primary: #456a7f,
);