@use "sass:color";
@use "admin" with (
	$scheme-name: "modern-aubergine",
	$base-color: #50419b,
	$highlight-color: color.adjust(#50419b, $lightness: -15%),
	$notification-color: #1b1f1d,
	$menu-submenu-focus-text: #fff,
	$link: #50419b,
	$link-focus: #5a5298
);
@use "../custom-props" with (
	$scheme-name: "modern-aubergine",
	$color-primary: #6e5ec9,
);