/* Button mixin- creates a button effect with correct highlights/shadows, based on a base color. */
body { background: #f1f1f1; }

/* Links */
a { color: #0073aa; }

a:hover, a:active, a:focus { color: #0096dd; }

#post-body .misc-pub-post-status:before, #post-body #visibility:before, .curtime #timestamp:before, #post-body .misc-pub-revisions:before, span.wp-media-buttons-icon:before { color: currentColor; }

/* Forms */
input[type=checkbox]:checked::before { content: url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.83%204.89l1.34.94-5.81%208.38H9.02L5.78%209.67l1.34-1.25%202.57%202.4z%27%20fill%3D%27%237e8993%27%2F%3E%3C%2Fsvg%3E"); }

input[type=radio]:checked::before { background: #7e8993; }

.wp-core-ui input[type="reset"]:hover, .wp-core-ui input[type="reset"]:active { color: #0096dd; }

input[type="text"]:focus, input[type="password"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input[type="checkbox"]:focus, input[type="radio"]:focus, select:focus, textarea:focus { border-color: #8bbc9f; box-shadow: 0 0 0 1px #8bbc9f; }

/* Core UI */
.wp-core-ui .button { border-color: #7e8993; color: #32373c; }

.wp-core-ui .button.hover, .wp-core-ui .button:hover, .wp-core-ui .button.focus, .wp-core-ui .button:focus { border-color: #717c87; color: #262a2e; }

.wp-core-ui .button.focus, .wp-core-ui .button:focus { border-color: #7e8993; color: #262a2e; box-shadow: 0 0 0 1px #32373c; }

.wp-core-ui .button:active { border-color: #7e8993; color: #262a2e; box-shadow: none; }

.wp-core-ui .button.active, .wp-core-ui .button.active:focus, .wp-core-ui .button.active:hover { border-color: #8bbc9f; color: #262a2e; box-shadow: inset 0 2px 5px -3px #8bbc9f; }

.wp-core-ui .button.active:focus { box-shadow: 0 0 0 1px #32373c; }

.wp-core-ui .button-primary { background: #8bbc9f; border-color: #8bbc9f; color: #fff; }

.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus { background: #95c2a7; border-color: #81b697; color: #fff; }

.wp-core-ui .button-primary:focus { box-shadow: 0 0 0 1px #fff, 0 0 0 3px #8bbc9f; }

.wp-core-ui .button-primary:active { background: #7bb392; border-color: #7bb392; color: #fff; }

.wp-core-ui .button-primary.active, .wp-core-ui .button-primary.active:focus, .wp-core-ui .button-primary.active:hover { background: #8bbc9f; color: #fff; border-color: #5c9f77; box-shadow: inset 0 2px 5px -3px #1a2e22; }

.wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary.button-primary-disabled, .wp-core-ui .button-primary.disabled { color: #c7d1cb !important; background: #71ad8a !important; border-color: #71ad8a !important; text-shadow: none !important; }

.wp-core-ui .button-group > .button.active { border-color: #8bbc9f; }

.wp-core-ui .wp-ui-primary { color: #fff; background-color: #36395c; }

.wp-core-ui .wp-ui-text-primary { color: #36395c; }

.wp-core-ui .wp-ui-highlight { color: #fff; background-color: #8bbc9f; }

.wp-core-ui .wp-ui-text-highlight { color: #8bbc9f; }

.wp-core-ui .wp-ui-notification { color: #fff; background-color: #d2ac1f; }

.wp-core-ui .wp-ui-text-notification { color: #d2ac1f; }

.wp-core-ui .wp-ui-text-icon { color: #f1f1f3; }

.wp-core-ui select:focus { border-color: #8bbc9f; color: currentColor; box-shadow: 0 0 0 1px #6ba984; }

/* List tables */
.view-switch a.current:before { color: #36395c; }

.view-switch a:hover:before { color: #d2ac1f; }

/* Admin Menu */
#adminmenuback, #adminmenuwrap, #adminmenu { background: #36395c; }

#adminmenu a { color: #fff; }

#adminmenu div.wp-menu-image:before { color: #f1f1f3; }

#adminmenu a:hover, #adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus { color: #fff; background-color: #8bbc9f; }

#adminmenu li.menu-top:hover div.wp-menu-image:before, #adminmenu li.opensub > a.menu-top div.wp-menu-image:before { color: #fff; }

/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap .nav-tab-active, .nav-tab-active, .nav-tab-active:hover { background-color: #f1f1f1; border-bottom-color: #f1f1f1; }

/* Admin Menu: submenu */
#adminmenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu { background: #292b46; }

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after { border-right-color: #292b46; }

#adminmenu .wp-submenu .wp-submenu-head { color: #c3c4ce; }

#adminmenu .wp-submenu a, #adminmenu .wp-has-current-submenu .wp-submenu a, .folded #adminmenu .wp-has-current-submenu .wp-submenu a, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a { color: #c3c4ce; }

#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu .wp-has-current-submenu .wp-submenu a:focus, #adminmenu .wp-has-current-submenu .wp-submenu a:hover, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover { color: #8bbc9f; }

/* Admin Menu: current */
#adminmenu .wp-submenu li.current a, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a { color: #fff; }

#adminmenu .wp-submenu li.current a:hover, #adminmenu .wp-submenu li.current a:focus, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus { color: #8bbc9f; }

ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu > li.current > a.current:after { border-right-color: #f1f1f1; }

#adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head, .folded #adminmenu li.current.menu-top { color: #fff; background: #8bbc9f; }

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before, #adminmenu a.current:hover div.wp-menu-image:before, #adminmenu li.current div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu a:focus div.wp-menu-image:before, #adminmenu li.wp-has-current-submenu.opensub div.wp-menu-image:before, #adminmenu li:hover div.wp-menu-image:before, #adminmenu li a:focus div.wp-menu-image:before, #adminmenu li.opensub div.wp-menu-image:before { color: #fff; }

/* Admin Menu: bubble */
#adminmenu .awaiting-mod, #adminmenu .update-plugins { color: #fff; background: #d2ac1f; }

#adminmenu li.current a .awaiting-mod, #adminmenu li a.wp-has-current-submenu .update-plugins, #adminmenu li:hover a .awaiting-mod, #adminmenu li.menu-top:hover > a .update-plugins { color: #fff; background: #292b46; }

/* Admin Menu: collapse button */
#collapse-button { color: #f1f1f3; }

#collapse-button:hover, #collapse-button:focus { color: #8bbc9f; }

/* Admin Bar */
#wpadminbar { color: #fff; background: #36395c; }

#wpadminbar .ab-item, #wpadminbar a.ab-item, #wpadminbar > #wp-toolbar span.ab-label, #wpadminbar > #wp-toolbar span.noticon { color: #fff; }

#wpadminbar .ab-icon, #wpadminbar .ab-icon:before, #wpadminbar .ab-item:before, #wpadminbar .ab-item:after { color: #f1f1f3; }

#wpadminbar:not(.mobile) .ab-top-menu > li:hover > .ab-item, #wpadminbar:not(.mobile) .ab-top-menu > li > .ab-item:focus, #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus, #wpadminbar.nojs .ab-top-menu > li.menupop:hover > .ab-item, #wpadminbar .ab-top-menu > li.menupop.hover > .ab-item { color: #8bbc9f; background: #292b46; }

#wpadminbar:not(.mobile) > #wp-toolbar li:hover span.ab-label, #wpadminbar:not(.mobile) > #wp-toolbar li.hover span.ab-label, #wpadminbar:not(.mobile) > #wp-toolbar a:focus span.ab-label { color: #8bbc9f; }

#wpadminbar:not(.mobile) li:hover .ab-icon:before, #wpadminbar:not(.mobile) li:hover .ab-item:before, #wpadminbar:not(.mobile) li:hover .ab-item:after, #wpadminbar:not(.mobile) li:hover #adminbarsearch:before { color: #fff; }

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper { background: #292b46; }

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary, #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu { background: #4a4c6c; }

#wpadminbar .ab-submenu .ab-item, #wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop.hover ul li a, #wpadminbar.nojs .quicklinks .menupop:hover ul li a { color: #c3c4ce; }

#wpadminbar .quicklinks li .blavatar, #wpadminbar .menupop .menupop > .ab-item:before { color: #f1f1f3; }

#wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-icon.ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar li:hover .ab-item.ab-item:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li .ab-item:focus:before, #wpadminbar li .ab-item:focus .ab-icon:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover #adminbarsearch:before, #wpadminbar li #adminbarsearch.adminbar-focused:before { color: #8bbc9f; }

#wpadminbar .quicklinks li a:hover .blavatar, #wpadminbar .quicklinks li a:focus .blavatar, #wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover > a .blavatar, #wpadminbar .menupop .menupop > .ab-item:hover:before, #wpadminbar.mobile .quicklinks .ab-icon:before, #wpadminbar.mobile .quicklinks .ab-item:before { color: #8bbc9f; }

#wpadminbar.mobile .quicklinks .hover .ab-icon:before, #wpadminbar.mobile .quicklinks .hover .ab-item:before { color: #f1f1f3; }

/* Admin Bar: search */
#wpadminbar #adminbarsearch:before { color: #f1f1f3; }

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus { color: #fff; background: #434772; }

/* Admin Bar: recovery mode */
#wpadminbar #wp-admin-bar-recovery-mode { color: #fff; background-color: #d2ac1f; }

#wpadminbar #wp-admin-bar-recovery-mode .ab-item, #wpadminbar #wp-admin-bar-recovery-mode a.ab-item { color: #fff; }

#wpadminbar .ab-top-menu > #wp-admin-bar-recovery-mode.hover > .ab-item, #wpadminbar.nojq .quicklinks .ab-top-menu > #wp-admin-bar-recovery-mode > .ab-item:focus, #wpadminbar:not(.mobile) .ab-top-menu > #wp-admin-bar-recovery-mode:hover > .ab-item, #wpadminbar:not(.mobile) .ab-top-menu > #wp-admin-bar-recovery-mode > .ab-item:focus { color: #fff; background-color: #bd9b1c; }

/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img { border-color: #434772; background-color: #434772; }

#wpadminbar #wp-admin-bar-user-info .display-name { color: #fff; }

#wpadminbar #wp-admin-bar-user-info a:hover .display-name { color: #8bbc9f; }

#wpadminbar #wp-admin-bar-user-info .username { color: #c3c4ce; }

/* Pointers */
.wp-pointer .wp-pointer-content h3 { background-color: #8bbc9f; border-color: #7bb392; }

.wp-pointer .wp-pointer-content h3:before { color: #8bbc9f; }

.wp-pointer.wp-pointer-top .wp-pointer-arrow, .wp-pointer.wp-pointer-top .wp-pointer-arrow-inner, .wp-pointer.wp-pointer-undefined .wp-pointer-arrow, .wp-pointer.wp-pointer-undefined .wp-pointer-arrow-inner { border-bottom-color: #8bbc9f; }

/* Media */
.media-item .bar, .media-progress-bar div { background-color: #8bbc9f; }

.details.attachment { box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #8bbc9f; }

.attachment.details .check { background-color: #8bbc9f; box-shadow: 0 0 0 1px #fff, 0 0 0 2px #8bbc9f; }

.media-selection .attachment.selection.details .thumbnail { box-shadow: 0 0 0 1px #fff, 0 0 0 3px #8bbc9f; }

/* Themes */
.theme-browser .theme.active .theme-name, .theme-browser .theme.add-new-theme a:hover:after, .theme-browser .theme.add-new-theme a:focus:after { background: #8bbc9f; }

.theme-browser .theme.add-new-theme a:hover span:after, .theme-browser .theme.add-new-theme a:focus span:after { color: #8bbc9f; }

.theme-section.current, .theme-filter.current { border-bottom-color: #36395c; }

body.more-filters-opened .more-filters { color: #fff; background-color: #36395c; }

body.more-filters-opened .more-filters:before { color: #fff; }

body.more-filters-opened .more-filters:hover, body.more-filters-opened .more-filters:focus { background-color: #8bbc9f; color: #fff; }

body.more-filters-opened .more-filters:hover:before, body.more-filters-opened .more-filters:focus:before { color: #fff; }

/* Widgets */
.widgets-chooser li.widgets-chooser-selected { background-color: #8bbc9f; color: #fff; }

.widgets-chooser li.widgets-chooser-selected:before, .widgets-chooser li.widgets-chooser-selected:focus:before { color: #fff; }

/* Responsive Component */
div#wp-responsive-toggle a:before { color: #f1f1f3; }

.wp-responsive-open div#wp-responsive-toggle a { border-color: transparent; background: #8bbc9f; }

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a { background: #292b46; }

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle .ab-icon:before { color: #f1f1f3; }

/* TinyMCE */
.mce-container.mce-menu .mce-menu-item:hover, .mce-container.mce-menu .mce-menu-item.mce-selected, .mce-container.mce-menu .mce-menu-item:focus, .mce-container.mce-menu .mce-menu-item-normal.mce-active, .mce-container.mce-menu .mce-menu-item-preview.mce-active { background: #8bbc9f; }

/* Site Health */
.health-check-tab.active { box-shadow: inset 0 -3px #8bbc9f; }

.health-check-accordion-trigger:focus { outline: 2px solid #8bbc9f; }
