/* Mixins */
body { overflow: hidden; }

#customize-controls a { text-decoration: none; }
#customize-controls h3 { font-size: 14px; }
#customize-controls .submit { text-align: center; }
#customize-controls .description { color: #ebb6b4; }

#customize-header-actions .button-primary { float: right; margin-top: 10px; }
#customize-header-actions .spinner { margin-top: 16px; margin-right: 4px; }
.saving #customize-header-actions .spinner { display: block; }

#customize-info { border: none; }
#customize-info .accordion-section-title { color: #f0c8c6; border: none; }
#customize-info .accordion-section-title:after { color: #f0c8c6; }
#customize-info.open .accordion-section-title, #customize-info .accordion-section-title:hover, #customize-info .accordion-section-title:focus { color: white; background: #dd823b; }
#customize-info.open .accordion-section-title:after, #customize-info .accordion-section-title:hover:after, #customize-info .accordion-section-title:focus:after { color: white; }
#customize-info .accordion-section-content { background: #be3631; }
#customize-info .preview-notice { font-size: 13px; line-height: 24px; }
#customize-info .theme-name { font-size: 20px; font-weight: 200; line-height: 24px; display: block; }
#customize-info .theme-screenshot { width: 258px; }
#customize-info .theme-description { margin-top: 1em; color: #ebb6b4; line-height: 20px; }

#customize-theme-controls .control-section { border: none; }
#customize-theme-controls .accordion-section-title { font-weight: normal; color: white; background: transparent; border: none; }
#customize-theme-controls .accordion-section-title:after { color: #f0c8c6; }
#customize-theme-controls .accordion-section-content { color: white; background: #be3631; }
#customize-theme-controls .accordion-section-content a { color: #f0c8c6; }
#customize-theme-controls .accordion-section-content a:hover { color: white; }
#customize-theme-controls .control-section:hover .accordion-section-title, #customize-theme-controls .control-section .accordion-section-title:hover, #customize-theme-controls .control-section.open .accordion-section-title, #customize-theme-controls .control-section .accordion-section-title:focus { color: white; background: #dd823b; }
#customize-theme-controls .control-section:hover .accordion-section-title::after, #customize-theme-controls .control-section .accordion-section-title:hover::after, #customize-theme-controls .control-section.open .accordion-section-title::after, #customize-theme-controls .control-section .accordion-section-title:focus::after { color: white; }

#customize-theme-controls > ul, #customize-theme-controls .accordion-section-content { margin: 0; }

.customize-control { width: 100%; float: left; clear: both; margin-bottom: 8px; }
.customize-control select, .customize-control input[type="text"], .customize-control input[type="radio"], .customize-control input[type="checkbox"] { line-height: 28px; border-color: white !important; }
.customize-control input[type="text"] { width: 98%; line-height: 18px; margin: 0; }
.customize-control select { min-width: 50%; max-width: 100%; height: 28px; line-height: 28px; }

.customize-control-title { display: block; font-size: 14px; line-height: 24px; font-weight: 600; margin-bottom: 5px; }

.customize-control-color .color-picker, .customize-control-checkbox label, .customize-control-upload div { line-height: 28px; }

.customize-control-checkbox input { margin-right: 5px; }

.customize-control-radio { padding: 5px 0 10px; }
.customize-control-radio .customize-control-title { margin-bottom: 0; line-height: 22px; }
.customize-control-radio label { line-height: 32px; }
.customize-control-radio input { margin-right: 5px; }

#customize-preview iframe { width: 100%; height: 100%; }

.wp-full-overlay-sidebar { background: #cf4944; border: none; }

.collapse-sidebar { background-color: transparent !important; border: none !important; box-shadow: none !important; border-radius: 0 !important; }
.collapse-sidebar .collapse-sidebar-label { color: #f3f1f1; }
.collapse-sidebar .collapse-sidebar-arrow:before { color: #f3f1f1; }
.wp-full-overlay .collapse-sidebar:hover .collapse-sidebar-label { color: white; }
.collapse-sidebar:hover .collapse-sidebar-arrow:before { color: white; }
.collapse-sidebar:active, .collapse-sidebar:active .collapse-sidebar-label, .collapse-sidebar:active .collapse-sidebar-arrow:before { text-shadow: none; }

.collapsed .collapse-sidebar-arrow:before, .collapsed .collapse-sidebar:hover .collapse-sidebar-arrow:before { color: #cf4944; }

/* Style for custom settings */
/* Dropdowns */
.accordion-section .dropdown { float: left; display: block; position: relative; cursor: pointer; }

.accordion-section .dropdown-content { overflow: hidden; float: left; min-width: 30px; height: 16px; line-height: 16px; margin-right: 16px; padding: 4px 5px; border: 2px solid #ebb6b4; -webkit-user-select: none; -moz-user-select: none; user-select: none; }

.customize-control .dropdown-arrow { position: absolute; top: 0; bottom: 0; right: 0; width: 20px; background: #f3f1f1; }

.customize-control .dropdown-arrow:after { content: "\f140"; font: normal 20px/1 'dashicons'; speak: none; display: block; padding: 0; text-indent: 0; text-align: center; position: relative; -webkit-font-smoothing: antialiased; text-decoration: none !important; color: #333; }

.customize-control .dropdown-status { color: #333; background: #f3f1f1; display: none; max-width: 112px; }

/* Color Picker */
.customize-control-color .color-picker-hex { display: none; }
.customize-control-color.open .color-picker-hex { display: block; }
.customize-control-color .dropdown { margin-right: 5px; margin-bottom: 5px; }
.customize-control-color .dropdown .dropdown-content { background-color: white; border: 1px solid rgba(0, 0, 0, 0.15); }
.customize-control-color .dropdown:hover .dropdown-content { border-color: rgba(0, 0, 0, 0.25); }
.customize-control-color .iris-picker { border-radius: 0 !important; }

.accordion-section input[type="text"].color-picker-hex { width: 65px; font-family: monospace; text-align: center; line-height: 16px; }

/* The centered cursor overlaps the placeholder in webkit. Hide it when selected. */
.accordion-section input[type="text"].color-picker-hex:focus::-webkit-input-placeholder { color: transparent; }

.accordion-section input[type="text"].color-picker-hex:-moz-placeholder { color: #999; }

/* Image Picker */
.customize-control-image .library, .customize-control-image .actions { display: none; float: left; width: 100%; }
.customize-control-image.open .library, .customize-control-image.open .actions { display: block; }

.accordion-section .customize-control-image .dropdown-content { height: auto; min-height: 24px; min-width: 40px; padding: 0; }
.accordion-section .customize-control-image .dropdown-status { padding: 4px 5px; }
.accordion-section .customize-control-image .preview-thumbnail img { display: block; width: 100%; max-width: 122px; max-height: 98px; margin: 0 auto; }
.accordion-section .customize-control-image .actions { text-align: right; }
.accordion-section .customize-control-image .library ul { border-bottom: 1px solid #f0c8c6; float: left; width: 100%; margin: 10px 0 0; }
.accordion-section .customize-control-image .library li { color: #d0d0d0; float: left; padding: 3px 15px; margin: 0; border: 1px solid transparent; }
.accordion-section .customize-control-image .library li.library-selected { margin-bottom: -1px; padding-bottom: 4px; color: #ebb6b4; border-color: #f0c8c6; border-bottom-color: #be3631; }
.accordion-section .customize-control-image .library .thumbnail { display: block; width: 100%; }
.accordion-section .customize-control-image .library .thumbnail img { display: block; max-width: 90%; max-height: 80px; margin: 5px auto; padding: 2px; background: #f3f1f1; }
.accordion-section .customize-control-image .library .thumbnail:hover img { background-color: #dd823b; }
.accordion-section .customize-control-image .library-content { display: none; width: 100%; float: left; padding: 10px 0; }
.accordion-section .customize-control-image .library-content.library-selected { display: block; }

.accordion-section .customize-control-upload .upload-fallback, .accordion-section .customize-control-image .upload-fallback { display: none; }
.accordion-section .customize-control-upload .upload-dropzone, .accordion-section .customize-control-image .upload-dropzone { display: none; padding: 15px 10px; border: 3px dashed #dfdfdf; margin: 5px auto; text-align: center; position: relative; cursor: default; }
.accordion-section .customize-control-upload .upload-dropzone.supports-drag-drop, .accordion-section .customize-control-image .upload-dropzone.supports-drag-drop { display: block; -webkit-transition: border-color 0.1s; -moz-transition: border-color 0.1s; -ms-transition: border-color 0.1s; -o-transition: border-color 0.1s; transition: border-color 0.1s; }
.accordion-section .customize-control-upload .library ul li, .accordion-section .customize-control-image .library ul li { cursor: pointer; }
.accordion-section .customize-control-upload .upload-dropzone.supports-drag-drop.drag-over, .accordion-section .customize-control-image .upload-dropzone.supports-drag-drop.drag-over { border-color: #83b4d8; }

/** iOS can't scroll iframes, instead it expands the iframe size to match the size of the content */
.ios .wp-full-overlay { position: relative; }

.ios #customize-preview { position: relative; }

.ios #customize-controls .wp-full-overlay-sidebar-content { -webkit-overflow-scrolling: touch; }

/** Handle cheaters. */
body.cheatin { min-width: 0; background: #f9f9f9; padding: 50px; }

body.cheatin p { max-width: 700px; margin: 0 auto; padding: 2em; font-size: 14px; background: #fff; border: 1px solid #dfdfdf; -webkit-border-radius: 3px; border-radius: 3px; }
