/* Dashicons mixin use: @include dashicons( '\f140' ); */
/* Button mixin- creates 3d-ish button effect with correct  highlights/shadows, based on a base color. */
html { background: #eeeeee; }

/* Links */
a { color: #0074a2; }
a:hover, a:active, a:focus { color: #0099d5; }

#rightnow a:hover, #media-upload a.del-link:hover, div.dashboard-widget-submit input:hover, .subsubsub a:hover, .subsubsub a.current:hover, .ui-tabs-nav a:hover { color: #0099d5; }

/* Forms */
input[type=checkbox]:checked:before { color: #4f6d59; }

input[type=radio]:checked:before { background: #4f6d59; }

.wp-core-ui input[type="reset"]:hover, .wp-core-ui input[type="reset"]:active { color: #0099d5; }

/* Core UI */
.wp-core-ui .button-primary { background: #4f6d59; border-color: #3a4f41; color: white; -webkit-box-shadow: inset 0 1px 0 #71977e, 0 1px 0 rgba(0, 0, 0, 0.15); box-shadow: inset 0 1px 0 #71977e, 0 1px 0 rgba(0, 0, 0, 0.15); }
.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus { background: #3e5546; border-color: #2f4035; color: white; -webkit-box-shadow: inset 0 1px 0 #658a71, 0 1px 0 rgba(0, 0, 0, 0.15); box-shadow: inset 0 1px 0 #658a71, 0 1px 0 rgba(0, 0, 0, 0.15); }
.wp-core-ui .button-primary:active { background: #3e5546; border-color: #2f4035; color: white; -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5); box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5); }
.wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary.button-primary-disabled { color: #c7d1ca !important; background: #3e5546 !important; border-color: #2f4035 !important; text-shadow: none !important; }
.wp-core-ui .mp6-primary { color: white; background-color: #5fb37c; }
.wp-core-ui .mp6-text-primary { color: #5fb37c; }
.wp-core-ui .mp6-highlight { color: white; background-color: #4f6d59; }
.wp-core-ui .mp6-text-highlight { color: #4f6d59; }
.wp-core-ui .mp6-notification { color: white; background-color: #33834e; }
.wp-core-ui .mp6-text-notification { color: #33834e; }
.wp-core-ui .mp6-text-icon { color: #f1f3f2; }

.icon-dashicon:before { content: "\f111"; font: normal 20px/1 'dashicons'; speak: none; display: block; padding: 0; text-indent: 0; text-align: center; position: relative; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; text-decoration: none !important; display: inline-block; }

/* List tables */
.wrap .add-new-h2:hover, #add-new-comment a:hover, .tablenav .tablenav-pages a:hover, .tablenav .tablenav-pages a:focus { color: white; background-color: #5fb37c; }

.view-switch a.current:before { color: #5fb37c; }

.view-switch a:hover:before { color: #33834e; }

.post-com-count:hover:after { border-top-color: #5fb37c; }

.post-com-count:hover span { color: white; background-color: #5fb37c; }

strong .post-com-count:after { border-top-color: #33834e; }

strong .post-com-count span { background-color: #33834e; }

/* Admin Menu */
#adminmenuback, #adminmenuwrap { background: #5fb37c; }

#adminmenu a { color: white; }

#adminmenu div.wp-menu-image:before { color: #f1f3f2; }

#adminmenu a:hover, #adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus { color: white; background-color: #4f6d59; }

#adminmenu li.menu-top:hover div.wp-menu-image:before, #adminmenu li.opensub > a.menu-top div.wp-menu-image:before { color: white; }

/* Admin Menu: submenu */
#adminmenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu { background: #4ca26a; }

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after { border-right-color: #4ca26a; }

#adminmenu .wp-submenu .wp-submenu-head { color: #cfe8d7; }

#adminmenu .wp-submenu a, #adminmenu .wp-has-current-submenu .wp-submenu a, .folded #adminmenu .wp-has-current-submenu .wp-submenu a, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a { color: #cfe8d7; }
#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu .wp-has-current-submenu .wp-submenu a:focus, #adminmenu .wp-has-current-submenu .wp-submenu a:hover, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover { color: #4f6d59; }

/* Admin Menu: current */
#adminmenu .wp-submenu li.current a, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a { color: white; }
#adminmenu .wp-submenu li.current a:hover, #adminmenu .wp-submenu li.current a:focus, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus { color: #4f6d59; }

ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu > li.current > a.current:after { border-right-color: #eeeeee; }

#adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head, .folded #adminmenu li.current.menu-top { color: white; background: #4f6d59; }

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before { color: white; }

/* Admin Menu: bubble */
#adminmenu .awaiting-mod, #adminmenu .update-plugins { color: white; background: #33834e; }

#adminmenu li.current a .awaiting-mod, #adminmenu li a.wp-has-current-submenu .update-plugins, #adminmenu li:hover a .awaiting-mod, #adminmenu li.menu-top:hover > a .update-plugins { color: white; background: #4ca26a; }

/* Admin Menu: collapse button */
#collapse-menu { color: #f1f3f2; }

#collapse-menu:hover { color: white; }

#collapse-button div:after { color: #f1f3f2; }

#collapse-menu:hover #collapse-button div:after { color: white; }

/* Admin Bar */
#wpadminbar { color: white; background: #5fb37c; }

#wpadminbar .ab-item, #wpadminbar a.ab-item, #wpadminbar > #wp-toolbar > #wp-admin-bar-root-default span.ab-label, #wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary span.ab-label, #wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary span.noticon { color: white; }

#wpadminbar .ab-icon, #wpadminbar .ab-item:before { color: #f1f3f2; }

#wpadminbar .ab-top-menu > li:hover > .ab-item, #wpadminbar .ab-top-menu > li.hover > .ab-item, #wpadminbar > #wp-toolbar > #wp-admin-bar-root-default li:hover span.ab-label, #wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary li.hover span.ab-label, #wpadminbar .ab-top-menu > li > .ab-item:focus, #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus, #wpadminbar-nojs .ab-top-menu > li.menupop:hover > .ab-item, #wpadminbar .ab-top-menu > li.menupop.hover > .ab-item { color: white; background: #4ca26a; }

#wpadminbar li:hover .ab-icon, #wpadminbar li:hover > .ab-item:before { color: white; }

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper { background: #4ca26a; }

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary { background: #7eb892; }

#wpadminbar .ab-submenu .ab-item, #wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop.hover ul li a, #wpadminbar-nojs .quicklinks .menupop:hover ul li a { color: #cfe8d7; }

#wpadminbar .quicklinks li .blavatar, #wpadminbar .menupop .menupop > .ab-item:before { color: #f1f3f2; }

#wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar .quicklinks .menupop .ab-sub-secondary > li:hover > a, #wpadminbar .quicklinks .menupop .ab-sub-secondary > li.hover > a, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover { color: #4f6d59; }

#wpadminbar .quicklinks li a:hover .blavatar, #wpadminbar .menupop .menupop > .ab-item:hover:before { color: #4f6d59; }

/* Admin Bar: search */
#wpadminbar #adminbarsearch:before { color: #f1f3f2; }

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus { color: white; background: #77bf8f; }

#wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder { color: white; opacity: .7; }

#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder { color: white; opacity: .7; }

#wpadminbar #adminbarsearch .adminbar-input::-moz-placeholder { color: white; opacity: .7; }

#wpadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder { color: white; opacity: .7; }

/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img { border-color: #77bf8f; background-color: #77bf8f; }

#wpadminbar #wp-admin-bar-user-info .display-name { color: white; }

#wpadminbar #wp-admin-bar-user-info .username { color: #cfe8d7; }

/* Pointers */
.wp-pointer .wp-pointer-content h3 { background-color: #4f6d59; }

.wp-pointer.wp-pointer-top .wp-pointer-arrow, .wp-pointer.wp-pointer-undefined .wp-pointer-arrow { border-bottom-color: #4f6d59; }

/* Responsive Component */
div#moby6-toggle a:before { color: #f1f3f2; }

.moby6-open div#moby6-toggle a { border-color: transparent; background: #4f6d59; }
