@use "sass:color";
@use "../admin" as * with (
	$base-color: #5f1b29,
	$highlight-color: #bd3854,
	$notification-color: #bd3854,
	$secondary-button-color: #5f1b29,
	$secondary-button-text-color: #5f1b29,
	$icon-color: #fefcf7,
	$menu-highlight-icon: #fefcf7,
	$menu-current-icon: #fefcf7,
	$menu-bubble-text: #fefcf7,
	$menu-bubble-current-background: #5f1b29,
	$menu-bubble-current-text: #fefcf7,
	$menu-submenu-background: #340f18,
	$menu-submenu-background-alt: color.mix(#340f18, #5f1b29, 60%),
	$form-checked: #5f1b29,
	$link: #666,
	$link-focus: #bd3854
);
