/* Dashicons mixin use: @include dashicons( '\f140' ); */
/* Button mixin- creates 3d-ish button effect with correct  highlights/shadows, based on a base color. */
html { background: #f3f3f3; }

/* Links */
a { color: #0074a2; }
a:hover, a:active, a:focus { color: #0099d5; }

#rightnow a:hover, #media-upload a.del-link:hover, div.dashboard-widget-submit input:hover, .subsubsub a:hover, .subsubsub a.current:hover, .ui-tabs-nav a:hover { color: #0099d5; }

/* Forms */
input[type=checkbox]:checked:before { color: #d8b230; }

input[type=radio]:checked:before { background: #d8b230; }

.wp-core-ui input[type="reset"]:hover, .wp-core-ui input[type="reset"]:active { color: #0099d5; }

/* Core UI */
.wp-core-ui .button-primary { background: #999dc4; border-color: #787eb2; color: white; -webkit-box-shadow: inset 0 1px 0 #c9cce0, 0 1px 0 rgba(0, 0, 0, 0.15); box-shadow: inset 0 1px 0 #c9cce0, 0 1px 0 rgba(0, 0, 0, 0.15); }
.wp-core-ui .button-primary:hover, .wp-core-ui .button-primary:focus { background: #7f85b5; border-color: #686fa8; color: white; -webkit-box-shadow: inset 0 1px 0 #b9bcd7, 0 1px 0 rgba(0, 0, 0, 0.15); box-shadow: inset 0 1px 0 #b9bcd7, 0 1px 0 rgba(0, 0, 0, 0.15); }
.wp-core-ui .button-primary:active { background: #7f85b5; border-color: #686fa8; color: white; -webkit-box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5); box-shadow: inset 0 2px 5px -3px rgba(0, 0, 0, 0.5); }
.wp-core-ui .button-primary[disabled], .wp-core-ui .button-primary:disabled, .wp-core-ui .button-primary.button-primary-disabled { color: #c7c8d1 !important; background: #7f85b5 !important; border-color: #686fa8 !important; text-shadow: none !important; }
.wp-core-ui .wp-ui-primary { color: white; background-color: #35395c; }
.wp-core-ui .wp-ui-text-primary { color: #35395c; }
.wp-core-ui .wp-ui-highlight { color: white; background-color: #d8b230; }
.wp-core-ui .wp-ui-text-highlight { color: #d8b230; }
.wp-core-ui .wp-ui-notification { color: white; background-color: #f48236; }
.wp-core-ui .wp-ui-text-notification { color: #f48236; }
.wp-core-ui .wp-ui-text-icon { color: #f1f2f3; }

/* List tables */
.wrap .add-new-h2:hover, #add-new-comment a:hover, .tablenav .tablenav-pages a:hover, .tablenav .tablenav-pages a:focus { color: white; background-color: #35395c; }

.view-switch a.current:before { color: #35395c; }

.view-switch a:hover:before { color: #f48236; }

.post-com-count:hover:after { border-top-color: #35395c; }

.post-com-count:hover span { color: white; background-color: #35395c; }

strong .post-com-count:after { border-top-color: #f48236; }

strong .post-com-count span { background-color: #f48236; }

/* Admin Menu */
#adminmenuback, #adminmenuwrap, #adminmenu { background: #35395c; }

#adminmenu a { color: white; }

#adminmenu div.wp-menu-image:before { color: #f1f2f3; }

#adminmenu a:hover, #adminmenu li.menu-top:hover, #adminmenu li.opensub > a.menu-top, #adminmenu li > a.menu-top:focus { color: white; background-color: #d8b230; }

#adminmenu li.menu-top:hover div.wp-menu-image:before, #adminmenu li.opensub > a.menu-top div.wp-menu-image:before { color: white; }

/* Active tabs use a bottom border color that matches the page background color. */
.about-wrap h2 .nav-tab-active, .nav-tab-active, .nav-tab-active:hover { border-bottom-color: #f3f3f3; }

/* Admin Menu: submenu */
#adminmenu .wp-submenu, #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu .wp-has-current-submenu.opensub .wp-submenu, .folded #adminmenu .wp-has-current-submenu .wp-submenu, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu { background: #282b45; }

#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after { border-left-color: #282b45; }

#adminmenu .wp-submenu .wp-submenu-head { color: #c2c3ce; }

#adminmenu .wp-submenu a, #adminmenu .wp-has-current-submenu .wp-submenu a, .folded #adminmenu .wp-has-current-submenu .wp-submenu a, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a { color: #c2c3ce; }
#adminmenu .wp-submenu a:focus, #adminmenu .wp-submenu a:hover, #adminmenu .wp-has-current-submenu .wp-submenu a:focus, #adminmenu .wp-has-current-submenu .wp-submenu a:hover, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:focus, .folded #adminmenu .wp-has-current-submenu .wp-submenu a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:focus, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu a:hover { color: #d8b230; }

/* Admin Menu: current */
#adminmenu .wp-submenu li.current a, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a { color: white; }
#adminmenu .wp-submenu li.current a:hover, #adminmenu .wp-submenu li.current a:focus, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:hover, #adminmenu a.wp-has-current-submenu:focus + .wp-submenu li.current a:focus, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:hover, #adminmenu .wp-has-current-submenu.opensub .wp-submenu li.current a:focus { color: #d8b230; }

ul#adminmenu a.wp-has-current-submenu:after, ul#adminmenu > li.current > a.current:after { border-left-color: #f3f3f3; }

#adminmenu li.current a.menu-top, #adminmenu li.wp-has-current-submenu a.wp-has-current-submenu, #adminmenu li.wp-has-current-submenu .wp-submenu .wp-submenu-head, .folded #adminmenu li.current.menu-top { color: white; background: #d8b230; }

#adminmenu li.wp-has-current-submenu div.wp-menu-image:before { color: white; }

/* Admin Menu: bubble */
#adminmenu .awaiting-mod, #adminmenu .update-plugins { color: white; background: #f48236; }

#adminmenu li.current a .awaiting-mod, #adminmenu li a.wp-has-current-submenu .update-plugins, #adminmenu li:hover a .awaiting-mod, #adminmenu li.menu-top:hover > a .update-plugins { color: white; background: #282b45; }

/* Admin Menu: collapse button */
#collapse-menu { color: #f1f2f3; }

#collapse-menu:hover { color: white; }

#collapse-button div:after { color: #f1f2f3; }

#collapse-menu:hover #collapse-button div:after { color: white; }

/* Admin Bar */
#wpadminbar { color: white; background: #35395c; }

#wpadminbar .ab-item, #wpadminbar a.ab-item, #wpadminbar > #wp-toolbar span.ab-label, #wpadminbar > #wp-toolbar span.noticon { color: white; }

#wpadminbar .ab-icon, #wpadminbar .ab-icon:before, #wpadminbar .ab-item:before, #wpadminbar .ab-item:after { color: #f1f2f3; }

#wpadminbar .ab-top-menu > li:hover > .ab-item, #wpadminbar .ab-top-menu > li.hover > .ab-item, #wpadminbar .ab-top-menu > li > .ab-item:focus, #wpadminbar.nojq .quicklinks .ab-top-menu > li > .ab-item:focus, #wpadminbar-nojs .ab-top-menu > li.menupop:hover > .ab-item, #wpadminbar .ab-top-menu > li.menupop.hover > .ab-item { color: #d8b230; background: #282b45; }

#wpadminbar > #wp-toolbar li:hover span.ab-label, #wpadminbar > #wp-toolbar li.hover span.ab-label, #wpadminbar > #wp-toolbar a:focus span.ab-label { color: #d8b230; }

#wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar li:hover .ab-item:after, #wpadminbar li:hover #adminbarsearch:before { color: white; }

/* Admin Bar: submenu */
#wpadminbar .menupop .ab-sub-wrapper { background: #282b45; }

#wpadminbar .quicklinks .menupop ul.ab-sub-secondary, #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu { background: #484c6c; }

#wpadminbar .ab-submenu .ab-item, #wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop.hover ul li a, #wpadminbar-nojs .quicklinks .menupop:hover ul li a { color: #c2c3ce; }

#wpadminbar .quicklinks li .blavatar, #wpadminbar .menupop .menupop > .ab-item:before { color: #f1f2f3; }

#wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li .ab-item:focus:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover .ab-item:after, #wpadminbar li.hover .ab-item:after, #wpadminbar li:hover #adminbarsearch:before { color: #d8b230; }

#wpadminbar .quicklinks li a:hover .blavatar, #wpadminbar .menupop .menupop > .ab-item:hover:before { color: #d8b230; }

/* Admin Bar: search */
#wpadminbar #adminbarsearch:before { color: #f1f2f3; }

#wpadminbar > #wp-toolbar > #wp-admin-bar-top-secondary > #wp-admin-bar-search #adminbarsearch input.adminbar-input:focus { color: white; background: #424773; }

#wpadminbar #adminbarsearch .adminbar-input::-webkit-input-placeholder { color: white; opacity: .7; }

#wpadminbar #adminbarsearch .adminbar-input:-moz-placeholder { color: white; opacity: .7; }

#wpadminbar #adminbarsearch .adminbar-input::-moz-placeholder { color: white; opacity: .7; }

#wpadminbar #adminbarsearch .adminbar-input:-ms-input-placeholder { color: white; opacity: .7; }

/* Admin Bar: my account */
#wpadminbar .quicklinks li#wp-admin-bar-my-account.with-avatar > a img { border-color: #424773; background-color: #424773; }

#wpadminbar #wp-admin-bar-user-info .display-name { color: white; }

#wpadminbar #wp-admin-bar-user-info a:hover .display-name { color: #d8b230; }

#wpadminbar #wp-admin-bar-user-info .username { color: #c2c3ce; }

/* Pointers */
.wp-pointer .wp-pointer-content h3 { background-color: #d8b230; }

.wp-pointer .wp-pointer-content h3:before { color: #d8b230; }

.wp-pointer.wp-pointer-top .wp-pointer-arrow, .wp-pointer.wp-pointer-undefined .wp-pointer-arrow { border-bottom-color: #d8b230; }

/* Media Uploader */
.media-item .bar, .media-progress-bar div { background-color: #d8b230; }

.details.attachment { box-shadow: 0 0 0 1px white, 0 0 0 5px #d8b230; }

.attachment.details .check { background-color: #d8b230; box-shadow: 0 0 0 1px white, 0 0 0 2px #d8b230; }

/* Themes */
.theme-browser .theme.active .theme-name, .theme-browser .theme.add-new-theme:hover:after { background: #d8b230; }

.theme-browser .theme.add-new-theme:hover span:after { color: #d8b230; }

.theme-overlay .theme-header .close:hover, .theme-overlay .theme-header .right:hover, .theme-overlay .theme-header .left:hover { background: #d8b230; }

/* jQuery UI Slider */
.wp-slider .ui-slider-handle, .wp-slider .ui-slider-handle.ui-state-hover, .wp-slider .ui-slider-handle.focus { background: #999dc4; border-color: #787eb2; -webkit-box-shadow: inset 0 1px 0 #c9cce0, 0 1px 0 rgba(0, 0, 0, 0.15); box-shadow: inset 0 1px 0 #c9cce0, 0 1px 0 rgba(0, 0, 0, 0.15); }

/* Responsive Component */
div#wp-responsive-toggle a:before { color: #f1f2f3; }

.wp-responsive-open div#wp-responsive-toggle a { border-color: transparent; background: #d8b230; }

.star-rating .star { color: #d8b230; }

.wp-responsive-open #wpadminbar #wp-admin-bar-menu-toggle a { background: #282b45; }
