@use "sass:color";
@use "../admin" as * with (
	$scheme-name: "modern-evergreen",
	$base-color: #1e8060,
	$highlight-color: color.adjust(#1e8060, $lightness: -15%),
	$notification-color: #1e1e1e,
	$menu-submenu-focus-text: #fff,
	$menu-bubble-current-background: #1e1e1e,
	$button-color: #3855e1,
	$button-text-color: #fff,
	$link: #3855e1,
	$link-focus: color.adjust(#3855e1, $lightness: -10%)
);
