@use "admin" with (
	$scheme-name: "80s-kid",
	$base-color: #1b4a8c,
	$highlight-color: #d13674,
	$notification-color: #28b811,
	$link: #1b4a8c,
	$link-focus: #d13674,
	$menu-submenu-focus-text: #ff9abc,
);
@use "../custom-props" with (
	$scheme-name: "80s-kid",
	$color-primary: #d13674,
);
